.navigation {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navigation__button {
    background-color: black;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navigation__link {
    text-decoration: none;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
}

.app__title {
    margin-bottom: 2rem;
}

.app__interface {
    display: flex;
    flex-direction: column;
}

.app__button {
    display: flex;
    flex-direction: column;
}

.app__image {
    margin-bottom: 0.5rem;
    height: 20rem;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: black;
    color: white;
}